<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="be92ad">  <td>19/09/20 20:13:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Omni.CreateDocument()[pri:0, instance:TestQA.TestQA.Omni@5f9d02cb]">CreateDocument</td> 
  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>19/09/20 20:13:43</td>   <td>12603</td> <td>&nbsp;</td><td title="&lt;&lt;Omni.afterTest()[pri:0, instance:TestQA.TestQA.Omni@5f9d02cb]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>19/09/20 20:13:23</td>   <td>-7485</td> <td>&nbsp;</td><td title="&gt;&gt;Omni.beforeTest()[pri:0, instance:TestQA.TestQA.Omni@5f9d02cb]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
</table>
